[submodule "src"]
	path = src
	url = https://github.com/hasanashab/spring-react-devops-appservice.git
[submodule "infra"]
	path = infra
	url = https://github.com/hasanashab/spring-react-devops-appservice-infra.git
